#docknet
docknet/docknet_test/*
docknet/eval_des_docknet/*
docknet/eval_docknet/*
docknet/demo_files/sample_scenes/*
docknet/demo_files/sunrgbd_results/*

#pycharm
.idea/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
